.app-container {
    grid-row-start:2;
    display:grid;
    width:100%;
    height:100%;
    margin:0;
    grid-template-columns:24% 52% 24%;
    grid-template-rows:1fr 30px;
}

#splash-screen {
    grid-column-start:1;
    grid-column-end:4;
    background: url('../../assets/brokenpencilbackdrop.jpg') no-repeat fixed;
    background-size: cover;
}

#tree-pane {
    background-color:#eee8d5;
    grid-column-start: 1;
}

#note-btn-selected {
    background-color:#859900;
}

#doc-pane {
    display:flex;
    justify-content: center;
    border:1px solid #93a1a1;
    border-top: none;
    border-bottom: none;
    background-color:#fdf6e3;
    grid-column-start: 2;
}
#act-pane {
    background-color:#eee8d5;
    grid-column-start: 3;
}

#act-pane p {
    border:1px dashed #6c71c4;
    margin-bottom:0;
    margin-top:5px;
    width:100%;
    font-family: 'EB Garamond', serif;
    font-size:24px;
    font-weight:bold;
    text-align:center;
}

#tree-pane, #doc-pane, #act-pane {
    padding:5px;
    padding-top:0;
}

#doc-pane img {
    margin-top:5px;
}

#act-pane button {
    font-family: 'EB Garamond', serif;
    font-size:20px;
    margin-top: 5px;
    width:100%;
}

.note-btn {
    font-family: 'EB Garamond', serif;
    border: none;
    font-size:18px;
    text-align:left;
    padding-left:40px;
    width:100%;
}

.note-btn:hover {
    background-color:#859900;
}

.notebook-btn {
    font-family: 'EB Garamond', serif;
    font-weight:bold;
    font-size:24px;
    text-align:left;
    padding-left:10px;
    border: none;
    width:100%;
}

.notebook-btn:hover {
    background-color:#859900;
}

#act-pane button:hover {
    background-color:#859900;
}

footer {
    display:flex;
    padding-right:3px;
    justify-content:flex-end;
    align-items:center;
    color:#93a1a1;
    background-color:#002b36;
    grid-row-start:2;
    grid-column-start:1;
    grid-column-end: 4;
}

footer p {
    font-family: 'EB Garamond', serif;
    font-size:17px;
    font-weight:bold;
    padding-right:9px;
}

#gh {
    height:100%;
}
